.header{
    background-color: RGB(246,246,246);
    font-size: 20px;
    color: green;
    margin: 0;
}

.header a{
    text-decoration: none;
    color: RGB(170,170,170);
    padding: 30px;
}

.promo-block{
    background-color: RGB(240,240,240);
    margin: 10px;
    padding-left: 50px;
}

button{
    border-radius: 7px;
    background-color: RGB(57,139,212);
    color: white;
    padding: 9px;
    cursor: pointer;
}

.article1, .article2 button{
    
}

.js-logo{
    width: 400px;
}

.ai-logo{
    width: 250px;
}

.java-logo{
    width: 400px;
}