*{
    font-family: sans-serif;
}

body{
    margin: 0;
}

.header{
    background-color: RGB(246,246,246);
    font-size: 20px;
    padding: 10px;
}

.header a{
    text-decoration: none;
    color: RGB(170,170,170);
    padding: 30px;
}

.promo-block{
    background-color: RGB(240,240,240);
    margin: 10px 20px 0px 20px;
    padding: 10px 0px 10px 67px;
    border-radius: 7px;
}

button{
    border-radius: 7px;
    background-color: RGB(57,139,212);
    color: white;
    padding: 9px;
    cursor: pointer;
}

.article1, 
.article2{
    padding-left: 40px;
}

.article1 button,
.article2 button{
    margin-left: 93%;
}

.gallery img{
    width: 300px;
    /* padding: 0px 100px 0px 100px; */
    margin: 0px 150px 0px 150px;
}

.gallery button{
    margin-left: 50%;
}

.footer{
    background-color: RGB(246,246,246);
    margin-top: 40px;
    padding: 20px;
}